* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 24px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}